@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

$fuente-grande: 2rem;
$fuente-chica: 1rem;

$tipografia-general: arial, verdana, sans-sarif;
$tipografia-alternativa: 'Times New Roman', Times, serif;

$fuentes:(
    thin: 100,
    light: 300,
    regular: 400,
    medium: 500,
    bold:700,
    black:900
);