.heroSection {
    display: flex;
    padding: 100px;
}

.padding{
    padding-left: 100px;
    padding-right: 100px;
}
.centerContent {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding-bottom: 25px;
  }
.centerText {
    display:flex;
    justify-content: center;
    
}
.centerButton {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.purple{
    color: $color-secundario;
}
.bgPurple{
    background-color: $color-secundario;
}

.centerButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alignText{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.purple{
  color: purple;
  font-family: 'Times New Roman', Times, serif
}
.bgPurple{
  background-color: purple;
}
.times {
  font-family: 'Times New Roman', Times, serif;
}