.heroSection {
    display: flex;
    padding: 100px;
}
.centerLogo {
  display: flex;
  justify-content: center;
  height: 100px;
  padding-bottom: 25px;
  transition: transform o.5s;
}
.centerLogo:hover{
  transform: scale(1.5);
}