.padding{
    padding: $padding100;
}
.centerButton {
    display: flex;
    align-items: $centerContent;
    justify-content: $centerContent;
}
.purple{
    color: $color-secundario
}
.bgPurple{
    color: $color-secundario
}