.contenedor{
    position:relative;
    overflow:hidden;
  }
  
  .contenedor img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: 1s;
  
  }
  
  .contenedor img:hover {
    transform: scale(1.5);
  }
  
  