.padding{
    padding: $padding100;
}
.centerButton {
    display: flex;
    flex-direction: column;
    align-items: $centerContent;
}
.purple{
    color: $color-secundario;
}
.bgPurple{
    background-color: $color-secundario;
}
.times{
    font-family: 'Times New Roman', Times, serif;
  }