.purple{
    color: $color-secundario;
}
.bgPurple{
    background-color: $color-secundario;
}
.times{
    font-family: 'Times New Roman', Times, serif;
  }
.centerButton {
  /*
    display: flex;
    flex-direction: column;
    align-items: $centerContent;
    justify-content: $centerContent;
    */
    @include flexbox (column, center, center);
  }

.centerContent{
    display: flex;
    align-items: $centerContent;
    justify-content: $centerContent;
  }
.cien{
  height: 100px;
  
}
.purple{
  color: purple;
}
.padding {
    padding: 10vh;
  }

.centerText {
    display:flex;
    justify-content: $centerContent;
    
}
.alignText{
    display: flex;
    flex-direction: column;
    justify-content: $centerContent;
}
@keyframes flotar{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(100px);
  }
  100%{
    transform: trnaslateY(0px);
  }

}
.humoDeCafe{
  animation-name: flotar;
  animation-duration: 8s;
}