.purple{
    color: $color-secundario;
}
.bgPurple{
    background-color: $color-secundario;
}
.times{
    font-family: 'Times New Roman', Times, serif;
  }
.centerButton {
    display: flex;
    flex-direction: column;
    align-items: $centerContent;
  }
  
  
.padding {
    padding: 100px;
  }

.centerText {
    display:flex;
    justify-content: $centerContent;
    
}
.alignText{
  display: flex;
  flex-direction: column;
  justify-content: $centerContent;
}
