.purple{
    color: $color-secundario;
}
.bgPurple{
    background-color: $color-secundario;
}
.times{
    font-family: 'Times New Roman', Times, serif;
  }
.centerButton {
    display: flex;
    flex-direction: column;
    align-items: $centerContent;
    justify-content: $centerContent;
  }

.centerContent{
    display: flex;
    align-items: $CenterContent;
    justify-content: $CenterContent;
  }
  
.purple{
  color: purple;
}
.padding {
    padding: 10vh;
  }

.centerText {
    display:flex;
    justify-content: $centerContent;
    
}
.alignText{
  @extend .centerButton;
}
