$color-principal:white;
$color-secundario: purple;
$color-texto-uno: grey;
$color-texto-dos: white;
$color-texto-tres: purple;

$espaciado-estandar: 10px;
$espaciado-doble: 20px;

$border: 50%;

$padding100: 100px;

$centerContent: center;

